/* my style */
.my-card-image {
    width: 69%;
    margin: auto;
}

#sensor-parent {
    font-size: 2rem;
}

#sensor-parent p {
    font-size: 1rem;
}

.searchWidth {
    width: 50%;
}

#errorMassege {
    display: none;
}

@media only screen and (max-width: 500px) {
    .searchWidth {
        width: 100%;
    }
}